<!-- Sidebar -->
<ul class="navbar-nav left-bg-gradient sidebar sidebar-dark accordion mr-4" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:void(0)">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text">
            <img src="../../../../assets/images/logo.svg" alt="footer-logo">
        </div>
    </a>

    <ul class="list-inline custom-btmsidebar-dark">
        <li class="nav-item dropdown m-0">
            <button type="button" class="btn text-left w-100" data-toggle="collapse" data-target="#demo3">
                <h6>Help</h6><span clas="text-white">Support PIN: 35457</span><i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>
            <ul id="demo3" class="collapse list-inline">
                <!-- <p class="mb-3">
                    <li><a href="javascript:void(0)">View</a></li>
                    <li><a href="javascript:void(0)">Add</a></li>
                    <li><a href="javascript:void(0)">Search</a></li>
                    <li><a href="javascript:void(0)">Import</a></li>
                    <li><a href="javascript:void(0)">Export</a></li>
                    <li><a href="javascript:void(0)">Customer Groups</a></li>
                </p> -->
            </ul>
        </li>
    </ul>
</ul>
<!-- End of Sidebar -->